@font-face{
    font-family: "Thonburi-Bold";
    src: url('Thonburi-Bold.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}
.center{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}
h1{
    font-variant: small-caps;
    font-family: "Thonburi-Bold";
    color: blueviolet;
    font-style: oblique;
}
body, span{
    font-size: "200%";
    background-color:#fdfdff;
}
p{
    text-align: center;
    line-height:200%;
    
}
table{
    height: 50px;
    table-layout: auto;
}
#car{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}